/* --------------------------------------------------------------------------------------
 *
 *  ACF
 *
 *  —— 
 *  —— 
 *
----------------------------------------------------------------------------------------- */

/*  acf tab button
------------------------------------------ */
.acf-fields > .acf-tab-wrap .acf-tab-group li a {
  min-width: 112px !important;
  text-align: center !important;
}

/* acf-fc-layout-handle  */
.acf-fc-layout-handle {
  background: rgba(34, 113, 177, 0.16) !important;
}
